body {
  margin: 0;
  height: 100%;
  font-family: Sharp, sans-serif;
  letter-spacing: 0.01em;
  color: #006eae;
  user-select: none;
  background-color: #006eae;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
